/* verde #4CBD49 */
/* naranja #FC4B08 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
  background: #FFFFFF;
  color: #474747;
  font-family: "Playfair Display", serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
}