@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --naranja: #FC4B08;
  --verde: #4CBD49;
  /*color: var(--naranja); => Así es como deben utilizarse las variables para estos colores */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #FFFFFF;
  color: #474747;
  font-family: "Playfair Display", serif;
}
h1,h2,h3,h4,h5,h6,label{
  font-family: "Montserrat", sans-serif;
}
input {
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#pagina{
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}